.header{
   margin-bottom: 32px;
}

.header button {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    justify-content: space-between;
    padding: 0px 12px 0px 8px;


    
}

.header button:hover{
    background-color:  var(--green-button);
    color: white;

    
}

.header button:hover img {
  filter: brightness(0) invert(1);
}